@model StudentMaintainance.Models.DoneMaintainance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoneMaintainance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNAme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNAme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor_EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor_EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaintainanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
