@model IEnumerable<StudentMaintainance.Models.AssignContractor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.ContractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintainance.StudentNAme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.ContractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maintainance.StudentNAme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.acontract }) |
            @Html.ActionLink("Details", "Details", new { id=item.acontract }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.acontract })
        </td>
    </tr>
}

</table>
