@model IEnumerable<StudentMaintainance.Models.AssignContractor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.ContractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintainance.StudentNAme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Res)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.ContractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maintainance.StudentNAme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Res)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>

        <td>
            @if (item.Image != null)
            {
                var base64 = Convert.ToBase64String(item.Image);
                var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@ImgSource" width="100" height="100" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.acontract }) |
            @Html.ActionLink("Details", "Details", new { id=item.acontract }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.acontract })
        </td>
    </tr>
}

</table>
